In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
from src.data import load_raw_data

rides = load_raw_data(year=2023)
rides

File 2023-01 was already in local storage
File 2023-02 was already in local storage
File 2023-03 was already in local storage
File 2023-04 was already in local storage
File 2023-05 was already in local storage
File 2023-06 was already in local storage
File 2023-07 was already in local storage
File 2023-08 was already in local storage
File 2023-09 was already in local storage
File 2023-10 was already in local storage
File 2023-11 was already in local storage
Downloading file 2023-12
2023-12 file is not available

            pickup_datetime  pickup_location_id
0       2023-01-01 00:32:10                 161
1       2023-01-01 00:55:08                  43
2       2023-01-01 00:25:04                  48
3       2023-01-01 00:03:48                 138
4       2023-01-01 00:10:29                 107
...                     ...                 ...
3339710 2023-11-30 23:39:21                 161
3339711 2023-11-30 23:01:55                 232
3339712 2023-11-30 23:23:16                 113
3339713 2023-11-30 23:39:22                  90
3339714 2023-11-30 23:13:48                 114

[34932972 rows x 2 columns]

In [3]:
from src.data import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)
ts_data

100%|██████████| 265/265 [00:04<00:00, 65.45it/s]

                pickup_hour  rides  pickup_location_id
0       2023-01-01 00:00:00      0                   1
1       2023-01-01 01:00:00      0                   1
2       2023-01-01 02:00:00      0                   1
3       2023-01-01 03:00:00      0                   1
4       2023-01-01 04:00:00      0                   1
...                     ...    ...                 ...
2124235 2023-11-30 19:00:00      3                 265
2124236 2023-11-30 20:00:00      3                 265
2124237 2023-11-30 21:00:00      6                 265
2124238 2023-11-30 22:00:00      3                 265
2124239 2023-11-30 23:00:00      9                 265

[2124240 rows x 3 columns]

In [5]:
from src.data import transform_ts_data_into_features_and_target

features, targets = transform_ts_data_into_features_and_target(
    ts_data,
    input_seq_len=24*28*1, # one month
    step_size=24,
)

print(f'{features.shape=}')
print(f'{targets.shape=}')

100%|██████████| 265/265 [00:33<00:00,  7.82it/s]

features.shape=(81090, 674)
targets.shape=(81090,)

In [6]:
tabular_data = features
tabular_data['target_rides_next_hour'] = targets

from src.paths import TRANSFORMED_DATA_DIR
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / 'tabular_data.parquet')